// ============================================
// KitokoCSS v1.0 - Classes Utilitaires d'Espacement
// ============================================

@import '../config/variables';
@import '../config/breakpoints';
@import '../mixins/utilities';

// --- Margin ---
$spacer-props: (
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  mx: (margin-left, margin-right),
  my: (margin-top, margin-bottom)
);

@each $prop, $value in $spacer-props {
  @each $size, $length in $kt-spacers {
    .kt-#{$prop}-#{$size} {
      @if type-of($value) == list {
        @each $v in $value {
          #{$v}: $length !important;
        }
      } @else {
        #{$value}: $length !important;
      }
    }
  }

  .kt-#{$prop}-auto {
    @if type-of($value) == list {
      @each $v in $value {
        #{$v}: auto !important;
      }
    } @else {
      #{$value}: auto !important;
    }
  }
}

// --- Padding ---
$padding-props: (
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
  px: (padding-left, padding-right),
  py: (padding-top, padding-bottom)
);

@each $prop, $value in $padding-props {
  @each $size, $length in $kt-spacers {
    .kt-#{$prop}-#{$size} {
      @if type-of($value) == list {
        @each $v in $value {
          #{$v}: $length !important;
        }
      } @else {
        #{$value}: $length !important;
      }
    }
  }
}

// --- Responsive Spacing ---
@each $breakpoint in map-keys($kt-grid-breakpoints) {
  $infix: if($breakpoint == xs, "", "-#{$breakpoint}");
  
  @include kt-media-breakpoint-up($breakpoint) {
    @each $prop, $value in $spacer-props {
      @each $size, $length in $kt-spacers {
        .kt-#{$prop}#{$infix}-#{$size} {
          @if type-of($value) == list {
            @each $v in $value {
              #{$v}: $length !important;
            }
          } @else {
            #{$value}: $length !important;
          }
        }
      }
    }

    @each $prop, $value in $padding-props {
      @each $size, $length in $kt-spacers {
        .kt-#{$prop}#{$infix}-#{$size} {
          @if type-of($value) == list {
            @each $v in $value {
              #{$v}: $length !important;
            }
          } @else {
            #{$value}: $length !important;
          }
        }
      }
    }
  }
}

