// ============================================
// KitokoCSS v1.0 - Composant Navigation
// ============================================

@import '../config/variables';
@import '../config/breakpoints';

.kt-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: map-get($kt-spacers, 2) map-get($kt-spacers, 3);
  background-color: $kt-white;
  border-bottom: $kt-border-width solid $kt-border-color;
}

.kt-navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: map-get($kt-spacers, 3);
  font-size: $kt-font-size-lg;
  font-weight: $kt-font-weight-bold;
  line-height: inherit;
  white-space: nowrap;
  color: $kt-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $kt-text-color;
  }
}

.kt-navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .kt-nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

.kt-navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: $kt-font-size-lg;
  line-height: 1;
  background-color: transparent;
  border: $kt-border-width solid $kt-border-color;
  border-radius: $kt-border-radius;
  cursor: pointer;

  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

.kt-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.kt-navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.kt-navbar-collapse.collapse {
  display: none;
}

.kt-navbar-collapse.show {
  display: flex;
  flex-direction: column;
}

// --- Navigation Links ---
.kt-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.kt-nav-link {
  display: block;
  padding: map-get($kt-spacers, 2) map-get($kt-spacers, 3);
  color: $kt-text-color;
  text-decoration: none;
  transition: $kt-transition-base;

  &:hover,
  &:focus {
    color: $kt-primary;
    text-decoration: none;
  }

  &.disabled {
    color: $kt-text-muted;
    pointer-events: none;
    cursor: default;
  }
}

.kt-nav-item {
  margin-bottom: 0;
}

// --- Navbar Sticky ---
.kt-navbar-sticky {
  position: sticky;
  top: 0;
  z-index: $kt-zindex-sticky;
  box-shadow: $kt-box-shadow-sm;
}

// --- Responsive ---
@include kt-media-breakpoint-up(md) {
  .kt-navbar-nav {
    flex-direction: row;
  }

  .kt-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .kt-navbar-toggler {
    display: none;
  }
}

